---
---

@import "{{ site.theme }}";

// TODO: Hover color twitter/linkedin
// TODO: quotes and paperclips need their own style => fontsize, color, margin etc.
// TODO: footer needs own style too
// TODO: share on: => hover, color
// TODO: convert all .md to .html
// TODO: mobile menu color

:root {
  --clr-primary: rgba(230, 182, 17, 1); // yellow
  --clr-secondary: rgba(40, 204, 204, 1); // TODO: change color
  --clr-bg: rgba(36,38,39, 1); // blackish
  --clr-highlight: rgba(154,144,131,1); // goldish brown
  --clr-white: rgba(255, 255, 255, 1); // white
  --clr-primary-font: rgba(255, 255, 255, 1); // white
}

body {
  font-family: 'Titillium Web', sans-serif;
  background: var(--clr-bg);
  color: var(--clr-primary-font);

}

p {
  font-size: 1.15em;
  color: var(--clr-primary-font);
}

h1.post-title.p-name {
  color: var(--clr-primary);
}

h2 {
  color: var(--clr-primary);
  font-weight: bold;
  margin-top: 30px;
}

h4 {
  color: var(--clr-primary);
  font-weight: bold;
  margin-top: 30px;
  opacity: 0.85;
}

code {
  background-color: var(--clr-highlight);
}

figcaption {
  color: var(--clr-highlight);
  margin-bottom: 35px;
  margin-top: -5px;
}

path:hover {
  color: var(--clr-primary);
}

a {
  transition: all 0.2s ease-out;
  color: var(--clr-primary);
  opacity: 0.85;
}

a:hover {
  color: var(--clr-highlight);
}

a.post-link:link {
  color: var(--clr-primary-font);
}

a.post-link:visited {
  color: var(--clr-highlight);
}

a.post-link:hover, a:active {
  color: var(--clr-primary);
}

img.site-logo {
  max-width: 100px;
}

span.post-meta {
  color: var(--clr-highlight);
}

a.page-link:link {
  color: var(--clr-white);
}

a.page-link:visited {
  color: var(--clr-white);
}

a.page-link:hover {
  color: var(--clr-primary);
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: all 0.2s ease-out;
  color: var(--clr-secondary);
}

.fa:hover {
    background: var(--clr-primary);
    color: var(--clr-primary-font);
    text-decoration: none;
}

.fa-twitter, .fa-linkedin {
  background: var(--clr-primary-font);
  color: var(--clr-primary-font);
}

.fa-twitter::before, .fa-linkedin::before {
  color: var(--clr-primary);
}

.fa-twitter::after, .fa-linkedin::after {
  color: var(--clr-primary-font);
}

div.share-links {
  margin-bottom: 20px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  color: var(--clr-highlight);
}

div.post_navi-label {
  color: var(--clr-highlight);
}

nav.site-nav {
  background-color: var(--clr-highlight);
}

.menu-icon {
  color: var(--clr-primary);
}

.text-quote {
  font-style: italic;
  color: var(--clr-highlight);
}

.text-paperclip {
  color: var(--clr-highlight);
}
