---
---

@import "{{ site.theme }}";

:root {
  --clr-primary: rgba(230, 182, 17, 1); // yellow
  --clr-secondary: rgba(98, 106, 103, 1); // TODO: change color
  --clr-bg: rgba(36,38,39, 1); // blackish
  --clr-highlight: rgba(154,144,131,1); // goldish brown
  --clr-white: rgba(255, 255, 255, 1); // white
  --clr-primary-font: rgba(255, 255, 255, 1); // white
  --clr-fields: rgba(98, 106, 103, 1);
}

body {
  font-family: 'Titillium Web', sans-serif;
  background: var(--clr-bg);
  color: var(--clr-primary-font);

}

p {
  font-size: 1.15em;
  color: var(--clr-primary-font);
}

h1.post-title.p-name {
  color: var(--clr-primary);
}

h2 {
  color: var(--clr-primary);
  font-weight: bold;
  margin-top: 30px;
}

h2.post-title {
  font-size: 32px;
}

h2#blogs {
  font-size: 32px;
}

h4 {
  color: var(--clr-primary);
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  opacity: 0.85;
}

code {
  background-color: var(--clr-highlight);
}

figcaption {
  color: var(--clr-highlight);
  margin-bottom: 35px;
  margin-top: -5px;
}

blockquote.twitter-tweet {
  background-color: var(--clr-highlight);
}

a {
  transition: all 0.2s ease-out;
  color: var(--clr-primary);
  opacity: 0.85;
}

a.post-link:link, a:link {
  color: var(--clr-primary-font);
}

a.post-link:visited, a:visited {
  color: var(--clr-highlight);
}

a.post-link:hover, a:active, a:hover {
  color: var(--clr-primary);
}

img.site-logo {
  max-width: 100px;
}

span.post-meta {
  color: var(--clr-highlight);
}

a.page-link:link {
  color: var(--clr-white);
}

a.page-link:visited {
  color: var(--clr-white);
}

a.page-link:hover {
  color: var(--clr-primary);
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: all 0.2s ease-out;
  color: var(--clr-secondary);
}

.fa-twitter, .fa-linkedin {
  background: var(--clr-primary-font);
  color: var(--clr-primary-font);
}

.fa:hover, .fa-twitter:hover, .fa-linkedin:hover {
    background: var(--clr-primary);
    color: var(--clr-primary-font);
    text-decoration: none;
}

a.fa.fa-twitter::before, a.fa.fa-linkedin::before {
    color: var(--clr-primary);
}

div.share-links {
  margin-bottom: 20px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  color: var(--clr-highlight);
}

div.post_navi-label {
  color: var(--clr-highlight);
}

nav.site-nav {
  background-color: var(--clr-highlight);
}

.menu-icon {
  color: var(--clr-primary);
}

.text-quote {
  font-style: italic;
  color: var(--clr-highlight);
  margin: 25px;
}

.text-paperclip {
  color: var(--clr-bg);
  padding: 10px;
  background-color: var(--clr-white);
  border-radius: 5px;
  border-color: var(--clr-primary);
  border-width: 1px;
  margin: 25px;
}

div.trigger {
  background-color: var(--clr-bg);
}

.twitter, .linkedin {
  color: var(--clr-highlight);
}

.twitter:hover, .linkedin:hover {
  color: var(--clr-primary);
}
