---
---

@import "{{ site.theme }}";

:root {
  --clr-primary: rgba(230, 182, 17, 1);
}

body {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-size: 1.15em;
}

.site-title {
  color: var(--clr-primary);
}

h2 {
  color: var(--clr-primary);
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-twitter {
  background: #B5B6AB;
  color: white;
}

.fa-linkedin {
  background: #B5B6AB;
  color: white;
}
